TFS/Others/SoundDesk/SoundDesk/Service References/UpdateService/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62427/UpdateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62427/UpdateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62427/UpdateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateService_GetBlockCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockCount" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetBlockCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockCountResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdate" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdateSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateSize" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdateSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_HasUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:HasUpdate" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_HasUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_MostRecentVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentVersion" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_MostRecentVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateService">
    <wsdl:operation name="GetBlockCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetBlockCount" message="tns:IUpdateService_GetBlockCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetBlockCountResponse" message="tns:IUpdateService_GetBlockCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetUpdate" message="tns:IUpdateService_GetUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetUpdateResponse" message="tns:IUpdateService_GetUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetUpdateSize" message="tns:IUpdateService_GetUpdateSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetUpdateSizeResponse" message="tns:IUpdateService_GetUpdateSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/HasUpdate" message="tns:IUpdateService_HasUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/HasUpdateResponse" message="tns:IUpdateService_HasUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostRecentVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/MostRecentVersion" message="tns:IUpdateService_MostRecentVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/MostRecentVersionResponse" message="tns:IUpdateService_MostRecentVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateService" type="tns:IUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlockCount">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetBlockCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateSize">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetUpdateSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUpdate">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/HasUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostRecentVersion">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/MostRecentVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port name="BasicHttpBinding_IUpdateService" binding="tns:BasicHttpBinding_IUpdateService">
      <soap:address location="http://localhost:62427/UpdateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>